{% assign menu = site.data.menus %}
{% comment %}
Iterate over page's menu path to find the exact menu data
that corresponds to the page.
1. An example of page.menu value:
   /requirements/vision_and_scope/business_requirements
   Note: surrounding and multiple slashes must be trimmed anyway.
2. menu_branch array value:
   [requirements, vision_and_scope, business_requirements]
{% endcomment %}
{% assign menu_branch = page.menu | split: "/" %}
{% for menu_level in menu_branch %}
  {% assign menu = menu[menu_level] %}
{% endfor %}

<ul id="mysidebar" class="nav">
  <li class="sidebarTitle">{{ menu.item.title }}</li>
  <!-- Render first level of menu -->
  {% for child in menu %}
    {% if child[1].item %}
      <li>
        <a href="#">{{ child[1].item.title }}</a>
        <!-- Render second level of menu -->
        <ul>
          {% for grandchild in child[1] %}
            {% if grandchild[1].item %}
              <a href="#">{{ grandchild[1].item.title }}</a>
            {% endif %}
          {% endfor %}
        </ul>
      </li>
    {% endif %} <!-- if child[1].item -->
  {% endfor %} <!-- for child in menu --> 
</ul>

